<div class="container">
  <h1>Liste des criminels</h1>

  <div class="row mt-5">
    <div class="col-ms-12 col-md-6 col-lg-4" *ngFor="let criminel of criminels">
      <div class="card mb-5" style="width: 18rem;">
        <!-- Boucle pour afficher toutes les images du criminel -->
        <div *ngFor="let image of criminel.images">
          <img class="card-img-top card-img-top" [src]="'http://localhost:5000/' + image"    style="width: 100px; height: 100px;" alt="Image de {{criminel.nom}}">
        </div>

        <div class="card-body">
          <h5 class="card-title">Nom: {{criminel.nom}}</h5>
          <p class="card-text">Description: {{criminel.description}}</p>
          <p class="card-text">Crime: {{criminel.crimeCommis}}</p>
          <p class="card-text">Dernière apparition: {{criminel.derniereApparition}}</p>
          <p class="card-text">Durée recherche: {{criminel.dureeRecherche}}</p>
          <p class="card-text">ID: {{criminel.id}}</p>

          <a [routerLink]="['/editCriminel', criminel.id]" class="btn btn-outline-warning">Édition</a>
        </div>
      </div>
    </div>
  </div>
</div>
